/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */
body {
    background-color: #242424;
}

.header {
    position: fixed;
    width: 100%;
    height: auto;
    background-color: #242424;

}

.top-bar .name h1 {
    font-family: 'Roboto Slab', serif;
    padding-left: 15px;
}

.image_sizing {
    width: 50em;
    height: auto;
    align-content: center;
    margin: auto;
}

img {
    width: 50em;
    height: auto;

}

.body-image {
    background-image: url("image040.jpg");
    position: absolute;
    left: 0;
    top: 0;
    width: 50em;
    height: auto;
    opacity: 0.2;
}

.post {
    width: 100em;
    position: static;
    margin-left: auto;
    margin-right: auto;
}

.post a {
    font-family: 'Roboto Slab', serif;
}

.post .img {
    width: 75%;
    margin: auto;
}

.login {

    width: 500px;
    height: 350px;
    background-image: url("image040.jpg");
    margin-top: 175px;
    margin-left: auto;
    margin-right: auto;
    align-content: center;
}

.login .login_link {
    padding: 10px;
    border: 2px, solid, black;
    background-color: #2E2F30;
    opacity: 0.8;
    text-align: center;
    font-family: 'Roboto Slab', serif;
}

.login .login_link h3 {
    color: #007ba4;
    font-family: 'Roboto Slab', serif;
}

.user_image {
    width: 10em;
    height: auto;
    margin-left: auto;
    margin-right: auto;
}

.top-bar .title-area .name a {
    color: white;
    font-family: 'Roboto Slab', serif;
}

.dropdown {
    color: white;
}





